@page
@model CompetenceManagementSystem.Web.Pages.Competences.CompetenceResources.EditModel

@{
    ViewData["Title"] = "Изменить";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <h1>Изменить</h1>

<h4>Ресурс для освоения компетенции</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Command.ResourceId" />
            <input type="hidden" asp-for="Command.CompetenceId" />
            <div class="form-group">
                <label asp-for="Command.CompetenceName" class="control-label"></label>
                <span class="form-control">@Model.Command.CompetenceName</span>
            </div>
            <div class="form-group">
                <label asp-for="Command.ResourceName" class="control-label"></label>
                <span class="form-control">@Model.Command.ResourceName</span>
            </div>
            <div class="form-group">
                <label asp-for="Command.Level" class="control-label"></label>
                <select asp-for="Command.Level" class="form-control" asp-items="Model.Levels"></select>
                <span asp-validation-for="Command.Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Command.Comment" class="control-label"></label>
                <textarea asp-for="Command.Comment" class="form-control"></textarea>
                <span asp-validation-for="Command.Comment" class="text-danger"></span>
            </div>          
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Details" asp-route-id="@Model.Command.CompetenceId">Вернуться к компетенции</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
